/* Text Formatting */

body {
  font-family: 'Permanent Marker', cursive;
}

.body-text {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15pt;
}

h1 {
  text-align: center;
  font-size: 25pt;
}

.drake-highlights {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding-left: 30%;
  font-size: 15pt;
}

/* Picture Formatting */

.about-banner {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment:fixed;
  background-size: cover;
  width: 100%;
}

.drake-baby {
  float: left;
  padding-right: 50px;
  padding: 20px;
  width: 20%;
  length: auto;
}

.drake-degrassi {
  float: right;
  padding-left: 50px;
  padding: 20px;
  width: 20%;
  length: auto;
}

.drake-award {
  float: left;
  padding-right: 50px;
  padding: 20px;
  width: 25%;
  length: auto;
}

/* Nav Bar Formatting */

.logo-img {
    float: left;
    position: relative;
    width: 5%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    length: auto;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 15pt;
}

.topnav a:hover {
    background-color: #333;
    color: #D4AF37;
}

.topnav a.active {
    background-color: black;
    color: #D4AF37;
}
