/* Text Formatting */

body {
  font-family: 'Permanent Marker', cursive;
}

/* Image Formatting */

.homepage-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  background-size: cover;
  width: 100%;
}

/* Nav Bar Formatting */

.logo-img {
    float: left;
    position: relative;
    width: 5%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    length: auto;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 25px 28px;
  text-decoration: none;
  font-size: 18pt;
}

.topnav a:hover {
    background-color: #333;
    color: #D4AF37;
}

.topnav a.active {
    background-color: black;
    color: #D4AF37;
}
