/* Text Formatting */

body {
  font-family: 'Permanent Marker', cursive;
}

/* Photo Formatting */

.media-banner {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment:fixed;
  background-size: cover;
  width: 100%;
}

.lightbox-image {
  margin: 10px auto 25px;
  box-shadow: 0 35px 90px rgba(0,0,0,0.4);
  transition: all .5s ease-in-out;
  position: relative;
  z-index: 10;
}

.lightbox-image:hover {
  box-shadow: 0 45px 100px rgba(0,0,0,0.5);
}

/* Video Formatting */

.drake-video {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20px;
}

/* Media Formatting */



/* Nav Bar Formatting */

.logo-img {
    float: left;
    position: relative;
    margin: 10px 28px;
    width: 5%;
    length: 5%;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  font-size: 18pt;
}

.topnav a:hover {
    background-color: #333;
    color: #D4AF37;
}

.topnav a.active {
    background-color: black;
    color: #D4AF37;
}
