/* Text Formatting */

body {
  font-family: 'Permanent Marker', cursive;
}

/* Photo Formatting */

.merchandise-banner {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment:fixed;
  background-size: cover;
  width: 100%;
}

/* Merch Formatting */

.all-merch {
  margin-left: 10%;
  margin-right: 10%;
}

.black-ashtray {
  width: 15%;
  length: auto;
  padding: 20px;
}

.white-ashtray {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-zippo {
  width: 15%;
  length: auto;
  padding: 20px;
}

.white-zippo {
  width: 15%;
  length: auto;
  padding: 20px;
}

.pink-cap {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-cap {
  width: 15%;
  length: auto;
  padding: 20px;
}

.white-cap {
  width: 15%;
  length: auto;
  padding: 20px;
}

.beach-towel {
  width: 15%;
  length: auto;
  padding: 20px;
}

.pink-hoodie {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-hoodie {
  width: 15%;
  length: auto;
  padding: 20px;
}

.grey-hoodie {
  width: 15%;
  length: auto;
  padding: 20px;
}

.white-tshirt {
  width: 15%;
  length: auto;
  padding: 20px;
}

.pink-sweatpants {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-sweatpants {
  width: 15%;
  length: auto;
  padding: 20px;
}

.grey-sweatpants {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-tshirt {
  width: 15%;
  length: auto;
  padding: 20px;
}

.white-shirt {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-shirt {
  width: 15%;
  length: auto;
  padding: 20px;
}

.white-sweatshorts {
  width: 15%;
  length: auto;
  padding: 20px;
}

.black-sweatshorts {
  width: 15%;
  length: auto;
  padding: 20px;
}

/* Nav Bar Formatting */

.logo-img {
    float: left;
    position: relative;
    margin: 10px 28px;
    width: 5%;
    length: 5%;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 28px;
  text-decoration: none;
  font-size: 20pt;
}

.topnav a:hover {
    background-color: #333;
    color: #D4AF37;
}

.topnav a.active {
    background-color: black;
    color: #D4AF37;
}
