/* Text Formatting */

body {
  font-family: 'Permanent Marker', cursive;
}

/* Photo Formatting */

.merchandise-banner {
  background-repeat: no-repeat;
  background-position: top;
  background-attachment:fixed;
  background-size: cover;
  width: 100%;
}

.merch-items {
  padding-left: 50%;
  padding-right: 50%;
  width: 300%;
  length: auto;
}

/* Filter Formatting*/

#myBtnContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: black;
  color: white;
  font-size: 15pt;
  cursor: pointer;
  margin: 0 10px;
}

.btn:hover {
  background-color: #333;
  color: #D4AF37;
}

/* Nav Bar Formatting */

.logo-img {
    float: left;
    position: relative;
    width: 5%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    length: auto;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 15pt;
}

.topnav a:hover {
    background-color: #333;
    color: #D4AF37;
}

.topnav a.active {
    background-color: black;
    color: #D4AF37;
}
