#video_box{
    position:relative;
}
#video_overlays {
    position:absolute;
    width:160px;
    min-height:40px;
    background-color:#dadada;
    z-index:30000;
    bottom:10px;
    left:10px;
    text-align:center;
    opacity:.8;
}
